.project-ideation {
  border: 2px solid rgba(255, 48, 2, 0.81);
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 12rem;
}

.project-ideation__content {
  padding-left: 8rem;
  padding-right: 8rem;
}

.project-ideation__content h1 {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: -.03rem;
  margin-top: -4rem;
  margin-bottom: 4rem;
}

.project-ideation__content__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8rem;
}

.project-ideation__content__body p {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}