.project-wireframes {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 6rem;
  margin-bottom: 16rem;
  padding-top: 6rem;
  background-color: #E8E8E8;
}


.project-wireframes__content {
  padding-left: 4rem;
  padding-right: 4rem;
}

.project-wireframes__content h1 {
  text-align: right;
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: -.03rem;
  margin-top: -10rem;
  margin-bottom: 4rem;
}

.project-wireframes__content p {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}

.project-wireframes__content__images {
  width: calc(100% - 4rem);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.project-wireframes__content__images li {
  width: 100%;
  height: 40vw;
  position: relative;
  box-shadow: 0 10px 70px -10px #00000026;;
}

.project-wireframes__content__images li:not(:last-child) {
  margin-bottom: 3rem;
}