.project-persona {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 6rem;
  padding-top: 6rem;
  background-color: #E8E8E8;
}

.project-persona__content {
  padding-left: 4rem;
  padding-right: 4rem;
}

.project-persona__content h1 {
  text-align: right;
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: -.03rem;
  margin-top: -10rem;
  margin-bottom: 4rem;
}

.project-persona__content__intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-persona__content__intro p {
  font-size: 1.5rem;
  font-weight: 600;
}

.project-persona__content__name {
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.project-persona__content__age {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.project-persona__content__edu {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.project-persona__content__family {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.project-persona__content__goals, .project-persona__content__frustrations {
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.project-persona__content__goals {
  color: #537E48;
}

.project-persona__content__frustrations {
  color: #B63D3D;
}

.project-persona p {
  font-weight: 800;
  font-size: 1.25rem;
  max-width: 75%;
}